@charset "UTF-8";
html {
  font-size: 62.5%;
}

:root {
  --bg: rgba(255, 255, 255, 1);
  --section-bg: rgba(232, 219, 132, 1);
  --button-bg: rgba(5, 42, 68, 1);
  --button-text: rgba(255, 255, 255, 1);
  --button-header: rgba(255, 255, 255, 1);
  --button-header-text: rgba(0, 0, 0, 1);
  --text: rgba(0, 0, 0, 1);
  --yellow-text: rgba(232, 219, 132, 1);
  --rev-btn-color: #ffffff;
  --font-size: 62.5%;
  --h1: 3.2rem;
  --h2: 2.8rem;
  --h3: 1.6rem;
  --p: 1.2rem;
  --card-prof: 0.9rem;
  --card-name: 1.2rem;
  --review-title: #183b56;
  --review-desc: #5a7184;
  --card-radious: 10px;
  --see-more-btn: #052a44;
  /*customers reviews სექციის ტექსტისთვის*/
  --text-secondary: rgba(
    7,
    18,
    16,
    1
  ); /*customers reviews სექციის ტექსტისთვის*/
  --hero-title: rgba(24, 59, 86, 1);
  --footer-headline: rgba(5, 42, 68, 1);
  --footer-text: rgba(7, 18, 16, 1);
  --nav: rgba(5, 42, 68, 1);
  --nav-text: rgba(255, 255, 255, 1);
  --card: rgba(255, 255, 255, 1);
  --card-text: rgba(18, 20, 29, 1);
  --shadow: 2px 4px 38px 0px rgba(0, 0, 0, 0.08);
  --input-bg: rgba(255, 255, 255, 1);
  --input-text: rgba(30, 30, 30, 1);
}

/* DARK */
html[data-theme=dark] {
  --bg: #1e2a39;
  --section-bg: rgba(232, 219, 132, 1);
  --button-bg: rgba(255, 255, 255, 1);
  --button-text: rgba(0, 0, 0, 1);
  --button-header: rgba(255, 255, 255, 1);
  --button-header-text: rgba(0, 0, 0, 1);
  --text: rgba(255, 255, 255, 1);
  --text-size: 62.5%;
  --yellow-text: rgba(232, 219, 132, 1);
  --text-secondary: rgba(255, 255, 255, 1);
  /*customers reviews სექციის ტექსტისთვის*/
  --hero-title: rgba(255, 255, 255, 1);
  --footer-headline: rgba(255, 255, 255, 1);
  --footer-text: rgba(255, 255, 255, 1);
  --nav: rgba(5, 42, 68, 1);
  --nav-text: rgba(255, 255, 255, 1);
  --card: rgba(255, 255, 255, 1);
  --card-text: rgba(18, 20, 29, 1);
  --shadow: 2px 4px 38px 0px rgba(0, 0, 0, 0.08);
  --input-bg: rgba(255, 255, 255, 1);
  --input-text: rgba(30, 30, 30, 1);
}

/* Font families */
/* Font weights */
/* Base setup */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

html {
  font-size: var(--font-size);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.review-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reviews-head {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reviews-head .review-title {
  color: var(--review-title);
  font-size: var(--h2);
  font-weight: 400;
}
.reviews-head .review-title::first-letter {
  text-transform: uppercase;
}
.reviews-head .review-desc {
  color: var(--review-desc);
  font-size: var(--h3);
  font-weight: 400;
  width: 272px;
  margin-top: 1.6rem;
}

.review-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 26.2rem;
  gap: 2.4rem;
  padding: 2.1rem;
  margin-top: 3.2rem;
  box-shadow: var(--shadow);
  border-radius: var(--card-radious);
}
.review-card .card-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.review-card .card-head img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}
.review-card .card-title h3 {
  font-weight: 700;
  font-size: var(--card-name);
  color: var(--text);
}
.review-card .card-title p {
  font-weight: 400;
  font-size: var(--card-prof);
}

.card-desc {
  width: 22rem;
}
.card-desc p {
  font-weight: 400;
  font-size: var(--p);
  color: var(--text);
}

.see-more .see-more-btn {
  margin-top: 3.3rem;
}
.see-more .see-more-btn a {
  padding: 0.8rem 1.2rem;
  background-color: var(--see-more-btn);
  border-radius: 0.8rem;
  color: var(--rev-btn-color);
  font-weight: 500;
}

.slide-arrows {
  display: none;
  width: 100%;
  margin-top: 3.2rem;
}
.slide-arrows .left-arrow,
.slide-arrows .right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 1rem;
  cursor: pointer;
}
.slide-arrows .left-arrow {
  background-color: transparent;
}
.slide-arrows .right-arrow {
  background-color: var(--button-bg);
}
.slide-arrows img {
  width: 2.4rem;
  height: 2.4rem;
  display: block;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--text);
}

.container {
  width: 100%;
  padding: 0 2.4rem;
  margin-inline: auto;
}

.header {
  padding: 2rem 0;
  position: relative;
  z-index: 20;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.desktorp-logo {
  display: none;
}

.logo,
.header__actions {
  position: relative;
  z-index: 50;
}

.nav {
  position: fixed;
  inset: 0;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10rem;
  gap: 3.5rem;
  transform: translateX(100%);
  z-index: 10;
}

.nav.is-open {
  transform: translateX(0);
}

.nav__link {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--text);
}

.header__actions {
  display: flex;
  gap: 3.6rem;
}

.icon-btn {
  background: none;
  border: none;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
}

.header__actions--desktop {
  display: none;
}

.nav__registration {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.nav__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 4.3rem;
  border-radius: 0.8rem;
  border: none;
  outline: none;
  background: var(--text);
  color: var(--bg);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: transform 150ms ease, background-color 150ms ease, color 150ms ease;
}
.nav__btn:hover {
  opacity: 0.85;
}
.nav__btn:active {
  transform: scale(0.98);
}
.nav__btn {
  font-weight: 600;
}

/* =================== იცონების ცვლილების ნაწილი იწყეა აქ ===================== */
/* --- ლაით მოუდი --- */
.theme-icon--sun {
  display: none;
}

.logo--dark {
  display: none;
}

.burger {
  max-height: 2.2rem;
  max-width: 2.2rem;
}

.burger .icon--burger-dark {
  display: none;
}

.burger .icon--close {
  display: none;
}

.burger .icon--close-dark {
  display: none;
}

/* ლაით მოუდის მენიუს გახსნის ნაწილი*/
.header.menu-open .burger .icon--burger,
.header.menu-open .burger .icon--burger-dark {
  display: none;
}

.header.menu-open .burger .icon--close {
  display: inline-block;
}

/* --- დარქ მოუდი --- */
:root[data-theme=dark] {
  /* ლოგო */
}
:root[data-theme=dark] .logo--light {
  display: none;
}
:root[data-theme=dark] .logo--dark {
  display: block;
}
:root[data-theme=dark] {
  /* თემების ღილაკები */
}
:root[data-theme=dark] .theme-icon--moon {
  display: none;
}
:root[data-theme=dark] .theme-icon--sun {
  display: inline-block;
}
:root[data-theme=dark] {
  /* ბურგერის დაზურვა */
}
:root[data-theme=dark] .burger .icon--burger {
  display: none;
}
:root[data-theme=dark] .burger .icon--burger-dark {
  display: inline-block;
}
:root[data-theme=dark] {
  /* მენიუ ს გახსნა როცა მარტო დარქის დამხურავი ჩანს*/
}
:root[data-theme=dark] .header.menu-open .burger .icon--burger,
:root[data-theme=dark] .header.menu-open .burger .icon--burger-dark {
  display: none;
}
:root[data-theme=dark] .header.menu-open .burger .icon--close {
  display: none;
}
:root[data-theme=dark] .header.menu-open .burger .icon--close-dark {
  display: inline-block;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  text-align: center;
}

.hero__title {
  display: none;
}

.hero__titleAccent--mobile {
  color: var(--hero-title);
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 1.4rem;
}

.hero__text {
  color: var(--text);
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 400;
  margin-bottom: 1.4rem;
  text-align: center;
}

.hero__actions {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  margin-bottom: 2.4rem;
  margin-left: 1rem;
}

.hero__actions--playlist {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.hero__actions--playlist span {
  color: var(--text);
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 100%;
}

.hero__btnPrimary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 4.3rem;
  border-radius: 0.8rem;
  border: none;
  outline: none;
  background: var(--button-bg);
  color: var(--button-text);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: transform 150ms ease, background-color 150ms ease, color 150ms ease;
}
.hero__btnPrimary:hover {
  opacity: 0.85;
}
.hero__btnPrimary:active {
  transform: scale(0.98);
}
.hero__btnPrimary {
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;
  line-height: 100%;
}

.hero__btnGhost {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px -2px 38px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__btnGhost img {
  margin-left: 7px;
}

.hero__meta {
  display: none;
}

.hero__media {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 3rem;
}

.hero__mediaBox {
  position: relative;
  width: 100%;
  max-width: 28rem;
}

.hero__bg {
  background-color: var(--section-bg);
  border-radius: 0.9rem;
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.hero__img {
  width: auto;
  height: 120%;
}

.heroCard__container {
  position: absolute;
  left: -3rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 10;
}

.heroCard {
  width: 6.1rem;
  height: 4.8rem;
  background-color: var(--card);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.6rem;
  box-shadow: 1.72px 3.43px 32.62px 0px rgba(0, 0, 0, 0.08);
}
.heroCard .heroCard__title {
  font-size: 0.5rem;
  font-weight: 700;
  color: rgb(30, 42, 57);
}
.heroCard .heroCard__sub {
  font-size: 0.5rem;
  font-weight: 350;
  color: rgb(46, 46, 46);
}
.heroCard .heroCard__plus {
  width: 1.1rem;
  height: 1.1rem;
  background-color: rgb(5, 42, 68);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.heroCard .heroCard__plus img {
  width: 0.4rem;
  height: 0.4rem;
}
.heroCard .heroCard__miniAvatars {
  display: flex;
}
.heroCard .heroCard__miniAvatars img {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  margin-left: -0.4rem;
}
.heroCard .heroCard__miniAvatars img:first-child {
  margin-left: 0;
}

.about {
  margin-top: 3.2rem;
  text-align: center;
}

.about__head {
  margin-bottom: 5.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

.about__title {
  font-size: 2.8rem;
  font-weight: 400;
  color: var(--hero-title);
}

.about__desc {
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: var(--text);
}

/* Cards */
.about__cards {
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
  margin-bottom: 2.6rem;
}

.about-card {
  background: var(--card);
  padding: 4rem 3rem;
  border-radius: 1.1rem;
  box-shadow: 1.42px 2.85px 27.04px 0px rgba(0, 0, 0, 0.08);
  position: relative;
  padding-top: 5rem;
}

.about-card__icon {
  width: 5rem;
  height: 5rem;
  background: rgb(5, 42, 68);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-card__icon img {
  width: 1.6rem;
  height: 2.3em;
}

.about-card__title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
}

.about-card__text {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.about__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 4.3rem;
  border-radius: 0.8rem;
  border: none;
  outline: none;
  background: var(--button-bg);
  color: var(--nav-text);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: transform 150ms ease, background-color 150ms ease, color 150ms ease;
}
.about__btn:hover {
  opacity: 0.85;
}
.about__btn:active {
  transform: scale(0.98);
}
.about__btn {
  padding: 0.8rem 1.2rem;
  font-weight: 500;
  font-size: 1.4;
  background-color: rgb(5, 42, 68);
}

@media (min-width: 570px) {
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
  }
  .hero__titleAccent--mobile {
    display: none;
  }
  .hero__title {
    display: block;
    text-align: left;
    font-size: 4.8rem;
    font-weight: 700;
    color: var(--text);
  }
  .hero__title span {
    color: var(--section-bg);
  }
  .hero__text {
    font-size: 1.8rem;
    text-align: left;
  }
  .hero__btnPrimary {
    padding: 1.5rem 4.5rem;
    font-weight: 600;
    font-size: 1.6rem;
  }
  .hero__btnGhost {
    max-width: 5.3rem;
    max-height: 5.3rem;
  }
  .hero__actions {
    gap: 2.4rem;
  }
  .hero__actions--playlist {
    gap: 1.2rem;
  }
  .hero__actions--playlist span {
    color: var(--text);
    font-weight: 600;
    font-size: 1.6rem;
  }
  .hero__meta {
    display: flex;
    gap: 1.2rem;
    align-items: center;
  }
  .hero__meta span {
    font-size: 1.3rem;
    color: var(--text);
    font-weight: 500;
  }
  .hero__avatars {
    display: flex;
  }
  .hero__avatars img {
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;
    margin-left: -2rem;
  }
  .hero__avatars img:first-child {
    margin-left: 0;
  }
  .hero__mediaBox {
    position: relative;
    width: 100%;
    max-width: 50.6rem;
    width: 100%;
  }
  .hero__bg {
    border-radius: 2rem;
    width: 100%;
    height: 40.8rem;
  }
  .heroCard__container {
    gap: 1.2rem;
  }
  .heroCard {
    width: 14.4rem;
    height: 11.2rem;
    gap: 1rem;
    border-radius: 1.4rem;
  }
  .heroCard .heroCard__title {
    font-size: 1.3rem;
  }
  .heroCard .heroCard__sub {
    font-size: 1.2rem;
  }
  .heroCard .heroCard__plus {
    width: 2.5rem;
    height: 2.5rem;
  }
  .heroCard .heroCard__plus img {
    width: 0.8rem;
    height: 0.8rem;
  }
  .heroCard .heroCard__miniAvatars img {
    width: 2.3rem;
    height: 2.3rem;
  }
}
/* ===== დესკტოპ რეზოლუცია ===== */
@media (min-width: 1024px) {
  .header {
    margin-top: 3.4rem;
  }
  .burger,
  .logo,
  .nav__registration {
    display: none;
  }
  .desktorp-logo {
    display: block;
  }
  .nav {
    position: static;
    transform: none;
    flex-direction: row;
    background: var(--nav);
    padding: 1rem 2rem;
    border-radius: 1.4rem;
    gap: 2.4rem;
  }
  .nav__link {
    color: var(--nav-text);
  }
  .header__inner {
    padding: 1.6rem 2.4rem;
    background-color: var(--nav);
    border-radius: 1.2rem;
  }
  .header__actions {
    display: none;
  }
  .header__actions--desktop {
    display: flex;
    align-items: center;
    gap: 5rem;
  }
  .header__actions--desktop div {
    display: flex;
    align-items: center;
    gap: 2.8rem;
  }
  .header__actions--desktop div button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 4.3rem;
    border-radius: 0.8rem;
    border: none;
    outline: none;
    background: var(--button-header);
    color: var(--button-header-text);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: transform 150ms ease, background-color 150ms ease, color 150ms ease;
  }
  .header__actions--desktop div button:hover {
    opacity: 0.85;
  }
  .header__actions--desktop div button:active {
    transform: scale(0.98);
  }
  .header__actions--desktop div button {
    font-weight: 600;
  }
  /* დესკროპზე თემის ღილაკები ლაით მოუდისთვის */
  .desktop-theme-btn--sun {
    display: none;
  }
  .desktop-theme-btn--moon {
    display: inline-flex;
  }
  /* დესკროპზე თემის ღილაკები დარქ მოუდისთვის*/
  :root[data-theme=dark] .desktop-theme-btn--sun {
    display: inline-flex;
  }
  :root[data-theme=dark] .desktop-theme-btn--moon {
    display: none;
  }
  .hero__inner {
    flex-direction: row;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .about {
    text-align: center;
  }
  .about__head {
    width: 100%;
    gap: 1.6rem;
  }
  .about__title {
    font-size: 4.2rem;
    color: var(--text);
  }
  .about__desc {
    font-size: 1.8rem;
    margin: 0 auto;
    color: var(--footer-text);
  }
  .about__cards {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 6rem;
  }
  .about-card {
    flex: 1;
    max-width: 37rem;
    max-height: 27rem;
    padding: 7rem 3.2rem;
  }
  .about__btn {
    padding: 1.5rem 4.3rem;
  }
}
@media (min-width: 1240px) {
  .container {
    max-width: 1240px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1240px;
  }
  .reviews-head .review-title {
    font-size: 4.2rem;
    font-weight: 600;
    color: var(--text);
  }
  .reviews-head .review-desc {
    width: 100%;
    font-size: 1.8rem;
    color: var(--text-secondary);
  }
  .review-cards {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: 100%;
  }
  .review-card {
    width: auto;
    flex: 1 1 0;
  }
  .card-head img {
    width: 7rem;
    height: 7rem;
  }
  .see-more {
    display: none;
  }
  .slide-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
