@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

:root {
  --bg: rgba(255, 255, 255, 1);
  --section-bg: rgba(232, 219, 132, 1);
  --button-bg: rgba(5, 42, 68, 1);
  --button-header: rgba(255, 255, 255, 1);
  --button-header-text: rgba(0, 0, 0, 1);
  --text: rgba(0, 0, 0, 1);
  --yellow-text: rgba(232, 219, 132, 1);
  --text-secondary: rgba(
    7,
    18,
    16,
    1
  ); /*customers reviews სექციის ტექსტისთვის*/
  --footer-headline: rgba(5, 42, 68, 1);
  --footer-text: rgba(7, 18, 16, 1);
  --nav: rgba(5, 42, 68, 1);
  --nav-text: rgba(255, 255, 255, 1);
  --card: rgba(255, 255, 255, 1);
  --card-text: rgba(18, 20, 29, 1);
  --shadow: 2px 4px 38px 0px rgba(0, 0, 0, 0.08);
  --input-bg: rgba(255, 255, 255, 1);
  --input-text: rgba(30, 30, 30, 1);
}

/* DARK */
html[data-theme=dark] {
  --bg: #1e2a39;
  --section-bg: rgba(232, 219, 132, 1);
  --button-bg: rgba(5, 42, 68, 1);
  --button-header: rgba(255, 255, 255, 1);
  --button-header-text: rgba(0, 0, 0, 1);
  --text: rgba(255, 255, 255, 1);
  --text-size:62.5%;
  --yellow-text: rgba(232, 219, 132, 1);
  --text-secondary: rgba(
    7,
    18,
    16,
    1
  ); /*customers reviews სექციის ტექსტისთვის*/
  --footer-headline: rgba(255, 255, 255, 1);
  --footer-text: rgba(255, 255, 255, 1);
  --nav: rgba(5, 42, 68, 1);
  --nav-text: rgba(255, 255, 255, 1);
  --card: rgba(255, 255, 255, 1);
  --card-text: rgba(18, 20, 29, 1);
  --shadow: 2px 4px 38px 0px rgba(0, 0, 0, 0.08);
  --input-bg: rgba(255, 255, 255, 1);
  --input-text: rgba(30, 30, 30, 1);
}

/* Font families */
/* Font weights */
/* Base setup */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

body {
  background: var(--bg);
  color: var(--text);
  font-size: var(--text-size);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-inline: 16px;
}

@media (min-width: 1240px) {
  .container {
    max-width: 1240px;
  }
}

.container {
  width: 100%;
  padding: 0 2.4rem;
  margin-inline: auto;
}

.header {
  padding: 2rem 0;
  position: relative;
  z-index: 20;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.desktorp-logo {
  display: none;
}

.logo,
.header__actions {
  position: relative;
  z-index: 50;
}

.nav {
  position: fixed;
  inset: 0;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10rem;
  gap: 3.5rem;
  transform: translateX(100%);
  z-index: 10;
}

.nav.is-open {
  transform: translateX(0);
}

.nav__link {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--text);
}

.header__actions {
  display: flex;
  gap: 3.6rem;
}

.icon-btn {
  background: none;
  border: none;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
}

.header__actions--desktop {
  display: none;
}

.nav__registration {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.nav__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 4.3rem;
  border-radius: 0.8rem;
  border: none;
  outline: none;
  background: var(--text);
  color: var(--bg);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: transform 150ms ease, background-color 150ms ease, color 150ms ease;
}
.nav__btn:hover {
  opacity: 0.85;
}
.nav__btn:active {
  transform: scale(0.98);
}
.nav__btn {
  font-weight: 600;
}

/* =================== იცონების ცვლილების ნაწილი იწყეა აქ ===================== */
/* --- ლაით მოუდი --- */
.theme-icon--sun {
  display: none;
}

.logo--dark {
  display: none;
}

.burger {
  max-height: 2.2rem;
  max-width: 2.2rem;
}

.burger .icon--burger-dark {
  display: none;
}

.burger .icon--close {
  display: none;
}

.burger .icon--close-dark {
  display: none;
}

/* ლაით მოუდის მენიუს გახსნის ნაწილი*/
.header.menu-open .burger .icon--burger,
.header.menu-open .burger .icon--burger-dark {
  display: none;
}

.header.menu-open .burger .icon--close {
  display: inline-block;
}

/* --- დარქ მოუდი --- */
:root[data-theme=dark] {
  /* ლოგო */
}
:root[data-theme=dark] .logo--light {
  display: none;
}
:root[data-theme=dark] .logo--dark {
  display: block;
}
:root[data-theme=dark] {
  /* თემების ღილაკები */
}
:root[data-theme=dark] .theme-icon--moon {
  display: none;
}
:root[data-theme=dark] .theme-icon--sun {
  display: inline-block;
}
:root[data-theme=dark] {
  /* ბურგერის დაზურვა */
}
:root[data-theme=dark] .burger .icon--burger {
  display: none;
}
:root[data-theme=dark] .burger .icon--burger-dark {
  display: inline-block;
}
:root[data-theme=dark] {
  /* მენიუ ს გახსნა როცა მარტო დარქის დამხურავი ჩანს*/
}
:root[data-theme=dark] .header.menu-open .burger .icon--burger,
:root[data-theme=dark] .header.menu-open .burger .icon--burger-dark {
  display: none;
}
:root[data-theme=dark] .header.menu-open .burger .icon--close {
  display: none;
}
:root[data-theme=dark] .header.menu-open .burger .icon--close-dark {
  display: inline-block;
}

/* ===== დესკტოპ რეზოლუცია ===== */
@media (min-width: 1024px) {
  .header {
    margin-top: 3.4rem;
  }
  .burger,
  .logo,
  .nav__registration {
    display: none;
  }
  .desktorp-logo {
    display: block;
  }
  .nav {
    position: static;
    transform: none;
    flex-direction: row;
    background: var(--nav);
    padding: 1rem 2rem;
    border-radius: 1.4rem;
    gap: 2.4rem;
  }
  .nav__link {
    color: var(--nav-text);
  }
  .header__inner {
    padding: 1.6rem 2.4rem;
    background-color: var(--nav);
    border-radius: 1.2rem;
  }
  .header__actions {
    display: none;
  }
  .header__actions--desktop {
    display: flex;
    align-items: center;
    gap: 5rem;
  }
  .header__actions--desktop div {
    display: flex;
    align-items: center;
    gap: 2.8rem;
  }
  .header__actions--desktop div button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 4.3rem;
    border-radius: 0.8rem;
    border: none;
    outline: none;
    background: var(--button-header);
    color: var(--button-header-text);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: transform 150ms ease, background-color 150ms ease, color 150ms ease;
  }
  .header__actions--desktop div button:hover {
    opacity: 0.85;
  }
  .header__actions--desktop div button:active {
    transform: scale(0.98);
  }
  .header__actions--desktop div button {
    font-weight: 600;
  }
  /* დესკროპზე თემის ღილაკები ლაით მოუდისთვის */
  .desktop-theme-btn--sun {
    display: none;
  }
  .desktop-theme-btn--moon {
    display: inline-flex;
  }
  /* დესკროპზე თემის ღილაკები დარქ მოუდისთვის*/
  :root[data-theme=dark] .desktop-theme-btn--sun {
    display: inline-flex;
  }
  :root[data-theme=dark] .desktop-theme-btn--moon {
    display: none;
  }
}
@media (min-width: 1240px) {
  .container {
    max-width: 1240px;
  }
}

/*# sourceMappingURL=style.css.map */
