@use "theme";
@use "typography";
@use "reset";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews {
  @include flex-center;
  margin-bottom: 3rem;
}

.container {
  @include flex-center();
  text-align: center;
}

.review-card {
  @include flex-center();
}

.reviews-head {
  margin-top: 8rem;
  @include flex-center();
  .review-title {
    color: var(--review-title);
    font-size: var(--h2);
    font-weight: typography.$fw-regular;
  }
  .review-title::first-letter {
    text-transform: uppercase;
  }
  .review-desc {
    color: var(--review-desc);
    font-size: var(--h3);
    font-weight: typography.$fw-regular;
    width: 272px;
    margin-top: 1.6rem;
  }
}

.review-card {
  @include flex-center();
  width: 26.2rem;
  gap: 2.4rem;
  padding: 2.1rem;
  margin-top: 3.2rem;
  box-shadow: var(--shadow);
  border-radius: var(--card-radious);
  .card-head {
    @include flex();
    gap: 16px;
    img {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%;
    }
  }
  .card-title {
    h3 {
      font-weight: typography.$fw-bold;
      font-size: var(--card-name);
      color: var(--text);
    }
    p {
      font-weight: typography.$fw-regular;
      font-size: var(--card-prof);
    }
  }
}

.card-desc {
  width: 22rem;
  p {
    font-weight: typography.$fw-regular;
    font-size: var(--p);
    color: var(--text);
  }
}

.see-more {
  .see-more-btn {
    margin-top: 3.3rem;
    a {
      padding: 0.8rem 1.2rem;
      background-color: var(--see-more-btn);
      border-radius: 0.8rem;
      color: var(--rev-btn-color);
      font-weight: typography.$fw-medium;
    }
  }
}

.slide-arrows {
  display: none;
  width: 100%;
  margin-top: 3.2rem;

  .left-arrow,
  .right-arrow {
    @include flex();
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 1rem;
    cursor: pointer;
  }

  .left-arrow {
    background-color: transparent;
    
  }

  .right-arrow {
    background-color: var(--button-bg);
  }

  img {
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    padding: 0;
  }
}
