@use "theme";
@use "typography";
@use "reset";
@use "./Footer";

body {
  background: var(--bg);
  color: var(--text);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-inline: 16px;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1240px;
  }
}
